.screen {
    overflow: hidden;
    /* border: 2px solid; */
    /* background-color: black; */
    padding: 2px;
    position: absolute;
    /* left: 0px;
    top: 0px; */
    display: inline-block;
    outline-style: none;
    /* transform: translate(50px, 50px); */
}
.video {
    position: relative;
    height: 120%;
    background-color: black;
    cursor: pointer;
    transform: translate(-20%, -10%) scaleX(1);
    transform-origin: 50% 50%;
}
.videoStatus {
    position: relative;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.596);
    text-align: left;
    color: white;
    font-size: small;
    z-index: 1000;
    margin-left:5px;
    margin-right: 5px;
}
.speaker {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;
    padding-top: 25%;
    align-content: right;
    opacity: 0;
}
.speaker:hover {
    opacity: 1;
}
