.sidebar {
    position: relative;
    width: 400px;
    height: 100%;
    background-color: #222233F0;
    border-radius: 5px;
    padding: 5px;
}
.mark {
    position: absolute;
    border-radius: 50%;
    top: 21px;
    left: 90%;
    zoom: 70%;
}
.youtube-frame {
    width: 382px;
    height: 214px;
    /* left: calc(-15%);
    top: calc(-15%); */
}

.cus_close {
    position: absolute;
    height: auto;
    top: -22px;
    right: 11px;
    z-index: 101;
    cursor: pointer;
}